body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2rem;
    background-color: #E6E6E6;
    font-family: 'Inter', sans-serif;
}

aside {
    width: 15%;
    height: 100vh;
    background-color: #7650E0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;

}

.home-svg-icon {
    width: 50px;
    height: 50px;

}

.img-logo {
    margin-top: 1.5rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

aside ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.lower-card-container {
/*     display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    border: none;
    margin-bottom: 2rem;
    height: 7rem;
    border-radius: 10px;
    background-color: white; */
}

.lower-card-content{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    border: none;
    margin-bottom: 2rem;
    height: 7rem;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    cursor: pointer;
}


i {
    margin-right: 0.8rem;
}

path {
    fill: white;

}

li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.8rem;
}

.active{
    background-color: white;
    border: none;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.active path {
    fill: #7650E0;
}



.btn-logout {
    margin-bottom: 5rem;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
        margin-left: 18%;
        display: flex;
        flex-direction: column;
}

.profile {
    text-align: right;
    margin-right: 2rem;
}

.job-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    align-content: center;
    margin-right: 2rem;
}

.job-panel h1 {
    margin-bottom: 0rem;
    font-size: 2rem;
}

.job-panel button {
    background-color: #7650E0;
    color: white;
    padding: 0.4rem 1rem 0.4rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
}

.job-panel button:hover {
    background-color: #8464dd;
    color: white;
    padding: 0.4rem 1rem 0.4rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
}

.filter-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.filter-by {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;

}

.filter-by p {
    margin-bottom: 0rem;
}

.filtered-content p{
    margin-bottom: 0rem;
}

.close{
    cursor: pointer;
}

.drop-btn-date-picture{
    width: 1.2rem;
    align-self: center;
}

.drop-btn-date-picture path{
    fill: #7650E0;

}

.filtered{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 5em;
    vertical-align: auto;
    margin-bottom: 1rem;
}

.filtered-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    border-radius: 5em;
    height: 2.2rem;
    padding-left: 1rem;
    vertical-align: auto;
    border: solid #7650E0 1px;
}

.filtered-content p{
    margin-right: 1rem;
}

.filtered svg{
    background-color: #7650E0;
    border-radius: 50%;
    margin-right: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    
}

.left-container {
    display: flex;
    flex-direction: row;
}

.job-info {
    display: flex;
    margin-bottom: 0.8rem;
}

.card-job-info-label, .job-info-label {
    font-weight: bold;
    margin-bottom: 0;
}

.salary-label, .card-salary-label {
    display: inline-block;
}

.salary, .card-salary {
    color: #7650E0;
    font-weight: bold;
    display: inline;
    margin-left: 0.2rem;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-info-button{
    background-color: #F1EEFC;
    color: #7650E0;
    margin-left: 1rem;
    padding: 0.2rem 0.5rem 0.2rem 0.4rem;
    border: none;
    border-radius: 0.5rem;
}

.job-info-location{
    display: flex;
    align-items: center;
}

.job-info-location p {
    margin-bottom: 0rem;
}

.line{
    width: 84px;
    height: 0px;
/* Neutrals/Grey Drak */
    border: 0.2px solid #505053;
    margin-left: 1rem;
    margin-right: 1rem;

}

.sub-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.sub-content p {
    display: inline-block;
}

.card-description {
    margin-right: 2rem;
    margin-left: 1rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

}

.deployed-card {

    border: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 2rem;

}


.active-filter{
    border: #7650E0 solid 1px;
}

.filter-label-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 0.8rem;
}

.filter-label-container p{
    margin-bottom: 0rem;
    margin-right: 1.5rem;
    font-weight: bold;
}

.filter-label-container svg{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F1EEFC;
}

.filter-label-container path{
    fill: #7650E0;
}

.drop-btn-style path{
    fill: #7650E0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 330px;
    border-radius: 0.5rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 3rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}


.dropdown-content-mode {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 330px;
    border-radius: 0.5rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 3rem;
}

.dropdown-content-mode a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-contract {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    border-radius: 0.5rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 3rem;
}

.dropdown-content-contract a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-date{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-date-active{
    color: #7650E0;
}


.drop-btn-date {
    display: flex;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem 0.4rem 0rem;
}

.filter-by label{
    font-weight: bold;
    margin-bottom: 0;
}

.filter-by{
    display: flex;
    color: #7650E0;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem 0.4rem 0rem;
}


#filter-select{
    display: flex;
    color: #7650E0;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem 0.4rem 0rem;
}


#filter-select option{
    color: black;
}


.dropdown-content-date {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    padding: 0.5rem 1rem;
    top: 3rem;
}

.show {
    display: block;
}

.fieldset{

    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.fieldset input{
    cursor: pointer;
    margin-left: 1rem;

}

.fieldset div:hover{
    background-color: #F1EEFC;
}


.profile {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}

.profile svg {
    margin-right: 1.5rem;
}

.profile svg :first-child {
    fill: red;
}

.profile svg :last-child {
    fill: black;
}

.profile p {
    font-weight: bold;
    margin: 0;
    align-self: center;

}

.letter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 21.6px;
    margin-right: 21.6px;
    background-color: #F1EEFC;
    ;
    border-radius: 10%;
}

.lower-card-letter {
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 44.57px;
    color: #7650E0;
}

.card-letter {
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 44.57px;
    color: #7650E0;
}

.card-header{
    display: flex;
    justify-content: space-between;

    border: none;
    margin-bottom: 0rem;
    height: 7rem;
    border-radius: 10px;

}

.undeploy-button{
    align-self: start;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.undeploy-button p{
    margin-bottom: 0;
}

.reduce-container{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: #7650E0 solid 1px;
    border-radius: 50%;
    cursor: pointer;

}

.reduce{
    width: 0.5rem;
    height: 0rem;
    border: #7650E0 solid 1px;
}



.try-it{
    color: #7650E0;
    font-weight: bold;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 2rem;
}

.sub-content{
    margin-bottom: 2rem;
    margin-top: 0;
}

.sub-content-left{
    display: flex;
}

.sub-content-left path{
    fill: #7650E0;
}

.sub-content-left svg{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.sub-content-left-item{
    margin-right: 1rem;
    align-items: center;
}

.sub-content-left-item p{
    margin: 0;

}

.sub-content-left-location{
    display: flex;
    margin-right: 2rem;
}

.sub-content-left-contract{
    display: flex;
    margin-right: 2rem;
}

.sub-content-left-begin{
    display: flex;
    margin-right: 2rem;
}

.sub-content-left-requirement{
    display: flex;
    margin-right: 2rem;
}

.hide{
    display: none;
}